<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a class="cl-icon-padding cl-text-black">
        <button class="glyphicon glyphicon-ok" (click)="update()">
        </button>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Header Edit
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="heading-name">Name</label>
      <input type="text" class="form-control" id="heading-name" ngModel required
             name="headName" #headName="ngModel"/>
    </div>
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input type="text" class="form-control" id="heading-text" [(ngModel)]="widget.text" required
             name="text" #text="ngModel"/>
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input type="text" class="form-control" id="heading-size" [(ngModel)]="widget.size" required
             name="size" #size="ngModel"/>
    </div>
  </form>
  <button class="btn btn-danger btn-block" (click)="delete()">Delete</button>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
