<nav class="navbar navbar-default">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../.." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink=".." class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container">
  <!--<form (ngSubmit)="delete()" #f="ngForm">-->
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input type="text" class="form-control" id="youtube-name" placeholder="Name"ngModel required
             name="name" #headerName="ngModel"/>
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" id="youtube-text" placeholder="Text" ngModel required
             name="text" #text="ngModel"/>
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input type="text" class="form-control" id="youtube-URL" placeholder="URL" ngModel required
             name="url" #url="ngModel"/>
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input type="text" class="form-control" id="youtube-width" placeholder="100%" ngModel required
             name="width" #width="ngModel"/>
    </div>
    <button class="btn btn-danger btn-block" (click)="delete()">Delete</button>
    <!--<button type="submit" class="btn btn-danger  btn-block" [disabled]="!f.valid">Delete</button>-->
  <!--</form>-->

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
