<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="upload()"  class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Image Edit
    </a>
  </div>
</nav>

<div class="container">
    <form>
      <div class="form-group">
        <label for="image-name">Name</label>
        <input type="text" class="form-control" id="image-name" placeholder="Name"
               ngModel required
               name="headerName" #headerName="ngModel"/>
      </div>
      <div class="form-group">
        <label for="image-text">Text</label>
        <input type="text" class="form-control" id="image-text" placeholder="Text"
               [(ngModel)]="widget.text" required
               name="text" #text="ngModel"/>
      </div>
      <div class="form-group">
        <label for="image-URL">URL</label>
        <input type="text" class="form-control" id="image-URL" [(ngModel)]="widget.url" required name="url"/>
      </div>
      <div class="form-group">
        <label for="image-width">Width</label>
        <input type="text" class="form-control" id="image-width" [(ngModel)]="widget.width" required
               name="width"/>
      </div>
    </form>

  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <label for="myFile">Upload Image</label>
    <input  name="myFile" id="myFile"  type="file" class="form-control form-group"/>
    <input  name="widgetId" value="{{widget._id}}" style="display: none"/>
    <input  name="pageId" value="{{pageID}}" style="display: none"/>
    <input  name="websiteId" value="{{websiteId}}" style="display: none"/>
    <input  name="userId" value="{{userId}}" style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
  </form>

  <a class="btn btn-primary btn-block "
     [routerLink]="['/profile/' + userId +'/website/'+ websiteId + '/page/' + pageID + '/widget/' + wgid + '/flickr']" >Choose From Flickr</a>

  <a class="btn btn-danger btn-block" (click)="delete()">Delete</a>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
