<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="../.." class="cl-text-black cl-icon-padding">
        <span class="glyphicon glyphicon-chevron-left">
        </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="./new" class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-plus">
        </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink=".">
      Widgets
    </a>
  </div>
</nav>

<div class="container cl-container-padding" appSortable (newIndexes)="reorderWidgets($event)">
  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.widgetType">

      <div>

        <div class="pull-right">
          <a routerLink="." class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a routerLink="./{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <div *ngSwitchCase="'HEADER'">
          <div [ngSwitch]="widget.size">
            <h1 *ngSwitchCase="1">{{widget.text}}</h1>
            <h2 *ngSwitchCase="2">{{widget.text}}</h2>
            <h3 *ngSwitchCase="3">{{widget.text}}</h3>
            <h4 *ngSwitchCase="4">{{widget.text}}</h4>
            <h5 *ngSwitchCase="5">{{widget.text}}</h5>
            <h6 *ngSwitchCase="6">{{widget.text}}</h6>
          </div>
        </div>

        <div *ngSwitchCase="'YOUTUBE'">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="640" height="360" [src]=getURL(widget.url) frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div *ngSwitchCase="'IMAGE'">
          <img class="img-responsive img-rounded cl-widget-images" src="{{widget.url}}">
        </div>

        <div *ngSwitchCase="'HTML'" [innerHTML]="widget.text">
        </div>

        <div *ngSwitchCase="'TEXT'">
          <p>{{widget.text}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>

    <div class="pull-left navbar-text">
      <a routerLink="." class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a routerLink="." class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </div>
  </div>
</nav>
