<nav class="navbar navbar-default">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../.." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="./new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets
    </a>
  </div>
</nav>

<div class="container cl-container-padding">
  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADER'">

      <a routerLink="." class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a routerLink="./{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>


    <h1>{{widget.text}}</h1>

  </div>



   <div *ngSwitchCase="'IMAGE'">

      <a routerLink="." class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a routerLink="./{{widget._id}}" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <img class="img-responsive img-rounded cl-widget-images"
           src={{widget.url}}>

  </div>

      <div *ngSwitchCase="'HTML'">
        {{widget.text}}
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <!--<div class="embed-responsive embed-responsive-16by9">-->

        <a routerLink="." class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger whiteBackground"></span>
        </a>
        <a routerLink="./{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog whiteBackground" ></span>
        </a>
        <iframe width="560" height="315" [src]=getURL(widget.url) frameborder="0" allowfullscreen></iframe>
        <!--</div>-->
      </div>

   </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>

    <div class="pull-left navbar-text">
      <a routerLink="." class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a routerLink="." class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>

    </div>
  </div>
</nav>



